--
-- PostgreSQL database cluster dump
--

\restrict 9f9Fca8DWJLCDVM5NIZGXEC3U1tKXixgsrqqzf7XAq7dBSCHVWwgcfVhNpMNwb4

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE daytaask_user;
ALTER ROLE daytaask_user WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:giH33LORMm+r8EdK2ca+sw==$tw+cbmo7CX+9x20vyz21UuahaoVr0UG1EVzd1Etouwg=:gsRZrAWZl/XxKqkHkebbnr1rlQv1hEz8ry6nWEYOlZc=';

--
-- User Configurations
--








\unrestrict 9f9Fca8DWJLCDVM5NIZGXEC3U1tKXixgsrqqzf7XAq7dBSCHVWwgcfVhNpMNwb4

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict KG9NVsuzMJH720rPZ9JkWvcZNozx3HimK1usLzvU6mPf0ATIO9GGsniKSVasgUJ

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict KG9NVsuzMJH720rPZ9JkWvcZNozx3HimK1usLzvU6mPf0ATIO9GGsniKSVasgUJ

--
-- Database "daytaask_db" dump
--

--
-- PostgreSQL database dump
--

\restrict YgTy2cQH2yss6ew2EKfqf1pX2CT4Zf4zG65RNU1aA9aSnBJkuKydBJZ5s6WLJHl

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: daytaask_db; Type: DATABASE; Schema: -; Owner: daytaask_user
--

CREATE DATABASE daytaask_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE daytaask_db OWNER TO daytaask_user;

\unrestrict YgTy2cQH2yss6ew2EKfqf1pX2CT4Zf4zG65RNU1aA9aSnBJkuKydBJZ5s6WLJHl
\connect daytaask_db
\restrict YgTy2cQH2yss6ew2EKfqf1pX2CT4Zf4zG65RNU1aA9aSnBJkuKydBJZ5s6WLJHl

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO daytaask_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO daytaask_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO daytaask_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_assignmentlog; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_assignmentlog (
    id bigint NOT NULL,
    method character varying(20) NOT NULL,
    status character varying(30) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    assigned_by_id bigint,
    taaskr_id bigint NOT NULL,
    booking_id bigint NOT NULL,
    expires_at timestamp with time zone,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.bookings_app_assignmentlog OWNER TO daytaask_user;

--
-- Name: bookings_app_assignmentlog_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_assignmentlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_assignmentlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_booking; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_booking (
    id bigint NOT NULL,
    booking_code character varying(20),
    scheduled_at timestamp with time zone NOT NULL,
    status character varying(30) NOT NULL,
    assignment_status character varying(30) NOT NULL,
    assignment_attempts integer NOT NULL,
    priority character varying(10) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    location_notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    address_id bigint,
    customer_id bigint NOT NULL,
    service_id bigint NOT NULL,
    required_taaskrs integer NOT NULL,
    custom_service_id bigint,
    paid_amount numeric(10,2) NOT NULL,
    payment_status character varying(30) NOT NULL,
    CONSTRAINT bookings_app_booking_assignment_attempts_check CHECK ((assignment_attempts >= 0)),
    CONSTRAINT bookings_app_booking_required_taaskrs_check CHECK ((required_taaskrs >= 0))
);


ALTER TABLE public.bookings_app_booking OWNER TO daytaask_user;

--
-- Name: bookings_app_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_booking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_bookingaddon; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_bookingaddon (
    id bigint NOT NULL,
    addon_id bigint NOT NULL,
    booking_id bigint NOT NULL
);


ALTER TABLE public.bookings_app_bookingaddon OWNER TO daytaask_user;

--
-- Name: bookings_app_bookingaddon_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_bookingaddon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_bookingaddon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_customservice; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_customservice (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    base_price numeric(10,2) NOT NULL,
    price_unit character varying(50) NOT NULL,
    duration_minutes integer NOT NULL,
    warranty_days integer NOT NULL,
    status character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    base_service_id bigint,
    created_by_id bigint,
    updated_at timestamp with time zone NOT NULL,
    whats_included character varying(255)[] NOT NULL,
    quote_request_id bigint NOT NULL,
    CONSTRAINT bookings_app_customservice_duration_minutes_check CHECK ((duration_minutes >= 0)),
    CONSTRAINT bookings_app_customservice_warranty_days_check CHECK ((warranty_days >= 0))
);


ALTER TABLE public.bookings_app_customservice OWNER TO daytaask_user;

--
-- Name: bookings_app_customservice_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_customservice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_customservice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_quoteimage; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_quoteimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    uploaded_by character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    quote_request_id bigint NOT NULL
);


ALTER TABLE public.bookings_app_quoteimage OWNER TO daytaask_user;

--
-- Name: bookings_app_quoteimage_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_quoteimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_quoteimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_quoterequest; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_quoterequest (
    id bigint NOT NULL,
    quote_code character varying(20) NOT NULL,
    service_name character varying(200) NOT NULL,
    problem_description text NOT NULL,
    preferred_date date,
    preferred_time_slot character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    booking_id bigint,
    customer_id bigint NOT NULL,
    service_id bigint,
    service_category_id bigint
);


ALTER TABLE public.bookings_app_quoterequest OWNER TO daytaask_user;

--
-- Name: bookings_app_quoterequest_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_quoterequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_quoterequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_recording; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_recording (
    id bigint NOT NULL,
    file_url character varying(200) NOT NULL,
    type character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    booking_id bigint NOT NULL
);


ALTER TABLE public.bookings_app_recording OWNER TO daytaask_user;

--
-- Name: bookings_app_recording_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_recording ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_recording_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_review; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_review (
    id bigint NOT NULL,
    rating integer NOT NULL,
    comment text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    booking_id bigint NOT NULL,
    CONSTRAINT bookings_app_review_rating_check CHECK ((rating >= 0))
);


ALTER TABLE public.bookings_app_review OWNER TO daytaask_user;

--
-- Name: bookings_app_review_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_servicechangerequest; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_servicechangerequest (
    id bigint NOT NULL,
    requested_by character varying(20) NOT NULL,
    description text NOT NULL,
    proposed_price numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    booking_id bigint NOT NULL
);


ALTER TABLE public.bookings_app_servicechangerequest OWNER TO daytaask_user;

--
-- Name: bookings_app_servicechangerequest_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_servicechangerequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_servicechangerequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_app_warranty; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.bookings_app_warranty (
    id bigint NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    claim_status character varying(50) NOT NULL,
    claim_notes text NOT NULL,
    booking_id bigint NOT NULL
);


ALTER TABLE public.bookings_app_warranty OWNER TO daytaask_user;

--
-- Name: bookings_app_warranty_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.bookings_app_warranty ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_app_warranty_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consultation_app_consultationproject; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.consultation_app_consultationproject (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    total_cost numeric(10,2) NOT NULL,
    status character varying(30) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    customer_id bigint NOT NULL,
    taaskr_id bigint
);


ALTER TABLE public.consultation_app_consultationproject OWNER TO daytaask_user;

--
-- Name: consultation_app_consultationproject_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.consultation_app_consultationproject ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.consultation_app_consultationproject_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO daytaask_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO daytaask_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO daytaask_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO daytaask_user;

--
-- Name: logs_app_adminactionlog; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.logs_app_adminactionlog (
    id bigint NOT NULL,
    action character varying(255) NOT NULL,
    target_type character varying(100) NOT NULL,
    target_id integer NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    admin_id bigint NOT NULL
);


ALTER TABLE public.logs_app_adminactionlog OWNER TO daytaask_user;

--
-- Name: logs_app_adminactionlog_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.logs_app_adminactionlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.logs_app_adminactionlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: logs_app_auditlog; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.logs_app_auditlog (
    id bigint NOT NULL,
    action_type character varying(100) NOT NULL,
    model_name character varying(100) NOT NULL,
    object_id integer NOT NULL,
    metadata jsonb NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.logs_app_auditlog OWNER TO daytaask_user;

--
-- Name: logs_app_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.logs_app_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.logs_app_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_app_notification; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.notifications_app_notification (
    id bigint NOT NULL,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.notifications_app_notification OWNER TO daytaask_user;

--
-- Name: notifications_app_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.notifications_app_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_app_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payments_app_payment; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.payments_app_payment (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_mode character varying(30) NOT NULL,
    payment_status character varying(30) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    booking_id bigint NOT NULL,
    created_by_admin boolean NOT NULL,
    notes text NOT NULL,
    provider character varying(30) NOT NULL,
    provider_order_id character varying(100),
    provider_payment_id character varying(100),
    provider_signature character varying(255)
);


ALTER TABLE public.payments_app_payment OWNER TO daytaask_user;

--
-- Name: payments_app_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.payments_app_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payments_app_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payments_app_refund; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.payments_app_refund (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    reason text NOT NULL,
    refund_mode character varying(30) NOT NULL,
    refund_status character varying(30) NOT NULL,
    provider_refund_id character varying(100),
    created_at timestamp with time zone NOT NULL,
    payment_id bigint NOT NULL
);


ALTER TABLE public.payments_app_refund OWNER TO daytaask_user;

--
-- Name: payments_app_refund_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.payments_app_refund ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payments_app_refund_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_app_addon; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.services_app_addon (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    price numeric(10,2) NOT NULL,
    description character varying(250) NOT NULL,
    is_active boolean NOT NULL,
    service_id bigint NOT NULL
);


ALTER TABLE public.services_app_addon OWNER TO daytaask_user;

--
-- Name: services_app_addon_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.services_app_addon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_app_addon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_app_category; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.services_app_category (
    id bigint NOT NULL,
    name character varying(120) NOT NULL,
    icon character varying(100),
    banner character varying(100),
    description character varying(250) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.services_app_category OWNER TO daytaask_user;

--
-- Name: services_app_category_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.services_app_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_app_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_app_service; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.services_app_service (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    short_description character varying(300) NOT NULL,
    description text NOT NULL,
    base_price numeric(10,2) NOT NULL,
    price_unit character varying(50) NOT NULL,
    duration_minutes integer NOT NULL,
    image character varying(100),
    is_active boolean NOT NULL,
    warranty_days integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    whats_included character varying(255)[] NOT NULL,
    slug character varying(200) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL,
    CONSTRAINT services_app_service_duration_minutes_check CHECK ((duration_minutes >= 0)),
    CONSTRAINT services_app_service_warranty_days_check CHECK ((warranty_days >= 0))
);


ALTER TABLE public.services_app_service OWNER TO daytaask_user;

--
-- Name: services_app_service_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.services_app_service ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_app_service_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: support_app_complaint; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.support_app_complaint (
    id bigint NOT NULL,
    description text NOT NULL,
    status character varying(30) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    booking_id bigint NOT NULL,
    customer_id bigint NOT NULL
);


ALTER TABLE public.support_app_complaint OWNER TO daytaask_user;

--
-- Name: support_app_complaint_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.support_app_complaint ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.support_app_complaint_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taaskr_app_availability; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.taaskr_app_availability (
    id bigint NOT NULL,
    is_available boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    taaskr_id bigint NOT NULL
);


ALTER TABLE public.taaskr_app_availability OWNER TO daytaask_user;

--
-- Name: taaskr_app_availability_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.taaskr_app_availability ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taaskr_app_availability_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taaskr_app_taaskrprofile; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.taaskr_app_taaskrprofile (
    id bigint NOT NULL,
    bio text NOT NULL,
    skill_tags character varying(100)[] NOT NULL,
    certification character varying(200)[] NOT NULL,
    rating_avg double precision NOT NULL,
    total_jobs integer NOT NULL,
    verified boolean NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT taaskr_app_taaskrprofile_total_jobs_check CHECK ((total_jobs >= 0))
);


ALTER TABLE public.taaskr_app_taaskrprofile OWNER TO daytaask_user;

--
-- Name: taaskr_app_taaskrprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.taaskr_app_taaskrprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taaskr_app_taaskrprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_app_address; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.users_app_address (
    id bigint NOT NULL,
    label character varying(50) NOT NULL,
    street character varying(255) NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    pincode character varying(10) NOT NULL,
    is_primary boolean NOT NULL,
    latitude numeric(9,6),
    longitude numeric(9,6),
    user_id bigint NOT NULL
);


ALTER TABLE public.users_app_address OWNER TO daytaask_user;

--
-- Name: users_app_address_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.users_app_address ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_app_address_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_app_permission; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.users_app_permission (
    id bigint NOT NULL,
    code_name character varying(100) NOT NULL,
    description text
);


ALTER TABLE public.users_app_permission OWNER TO daytaask_user;

--
-- Name: users_app_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.users_app_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_app_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_app_role; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.users_app_role (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    is_admin_role boolean NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.users_app_role OWNER TO daytaask_user;

--
-- Name: users_app_role_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.users_app_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_app_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_app_rolepermission; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.users_app_rolepermission (
    id bigint NOT NULL,
    permission_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.users_app_rolepermission OWNER TO daytaask_user;

--
-- Name: users_app_rolepermission_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.users_app_rolepermission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_app_rolepermission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_app_user; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.users_app_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    email character varying(254),
    phone character varying(15),
    email_verified boolean NOT NULL,
    phone_verified boolean NOT NULL,
    full_name character varying(255),
    profile_image character varying(200),
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_available boolean NOT NULL
);


ALTER TABLE public.users_app_user OWNER TO daytaask_user;

--
-- Name: users_app_user_groups; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.users_app_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_app_user_groups OWNER TO daytaask_user;

--
-- Name: users_app_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.users_app_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_app_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_app_user_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.users_app_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_app_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_app_user_user_permissions; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.users_app_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_app_user_user_permissions OWNER TO daytaask_user;

--
-- Name: users_app_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.users_app_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_app_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_app_userrole; Type: TABLE; Schema: public; Owner: daytaask_user
--

CREATE TABLE public.users_app_userrole (
    id bigint NOT NULL,
    role_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_app_userrole OWNER TO daytaask_user;

--
-- Name: users_app_userrole_id_seq; Type: SEQUENCE; Schema: public; Owner: daytaask_user
--

ALTER TABLE public.users_app_userrole ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_app_userrole_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: bookings_app_assignmentlog; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: bookings_app_booking; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: bookings_app_bookingaddon; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.bookings_app_bookingaddon (id, addon_id, booking_id) FROM stdin;
2	3	31
\.


--
-- Data for Name: bookings_app_customservice; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: bookings_app_quoteimage; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.bookings_app_quoteimage (id, image, uploaded_by, created_at, quote_request_id) FROM stdin;
2	quotes/images/electric-1.jpg	admin	2026-01-17 13:40:40.770928+00	4
7	quotes/images/tap-1.jpg	admin	2026-01-19 10:10:16.030674+00	10
8	quotes/images/cctv-1_y1ppLd6.jpg	admin	2026-01-19 10:10:16.087609+00	10
9	quotes/images/electric-1_ibLngee.jpg	admin	2026-01-19 10:10:16.132552+00	10
10	quotes/images/interview_NVyScso.png	admin	2026-01-19 10:10:16.185298+00	10
\.


--
-- Data for Name: bookings_app_quoterequest; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: bookings_app_recording; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.bookings_app_recording (id, file_url, type, created_at, booking_id) FROM stdin;
\.


--
-- Data for Name: bookings_app_review; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.bookings_app_review (id, rating, comment, created_at, booking_id) FROM stdin;
\.


--
-- Data for Name: bookings_app_servicechangerequest; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.bookings_app_servicechangerequest (id, requested_by, description, proposed_price, status, created_at, booking_id) FROM stdin;
1	admin	test	1200.00	pending	2026-01-03 13:21:52.748218+00	7
\.


--
-- Data for Name: bookings_app_warranty; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.bookings_app_warranty (id, start_date, end_date, claim_status, claim_notes, booking_id) FROM stdin;
\.


--
-- Data for Name: consultation_app_consultationproject; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.consultation_app_consultationproject (id, title, description, total_cost, status, created_at, customer_id, taaskr_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: logs_app_adminactionlog; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.logs_app_adminactionlog (id, action, target_type, target_id, "timestamp", admin_id) FROM stdin;
\.


--
-- Data for Name: logs_app_auditlog; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.logs_app_auditlog (id, action_type, model_name, object_id, metadata, "timestamp", user_id) FROM stdin;
\.


--
-- Data for Name: notifications_app_notification; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.notifications_app_notification (id, message, type, is_read, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: payments_app_payment; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.payments_app_payment (id, amount, payment_mode, payment_status, created_at, booking_id, created_by_admin, notes, provider, provider_order_id, provider_payment_id, provider_signature) FROM stdin;
1	1500.00	admin_adjustment	captured	2026-01-30 13:21:01.670329+00	16	t		razorpay	\N	\N	\N
2	1500.00	razorpay	authorized	2026-01-31 06:50:35.184108+00	15	f		razorpay	\N	\N	\N
3	123456.00	cod	cod_pending	2026-02-19 07:55:17.440944+00	38	f		razorpay	\N	\N	\N
\.


--
-- Data for Name: payments_app_refund; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.payments_app_refund (id, amount, reason, refund_mode, refund_status, provider_refund_id, created_at, payment_id) FROM stdin;
1	500.00	yoo	razorpay	initiated	123	2026-01-31 06:52:37.722687+00	1
\.


--
-- Data for Name: services_app_addon; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.services_app_addon (id, name, price, description, is_active, service_id) FROM stdin;
1	wires for solar	50.00	50 rs per meter	t	1
2	Fan Bearing	1200.00	high quality	t	2
3	Solar Cleaning Solution	150.00	150 ml	t	3
\.


--
-- Data for Name: services_app_category; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: services_app_service; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: support_app_complaint; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.support_app_complaint (id, description, status, created_at, booking_id, customer_id) FROM stdin;
\.


--
-- Data for Name: taaskr_app_availability; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.taaskr_app_availability (id, is_available, created_at, updated_at, taaskr_id) FROM stdin;
5	t	2026-01-08 14:00:15.295929+00	2026-01-08 14:00:15.295943+00	3
6	t	2026-01-08 14:00:27.582501+00	2026-01-08 14:00:27.582513+00	5
7	t	2026-01-08 14:00:57.783639+00	2026-01-08 14:00:57.783651+00	7
8	f	2026-01-08 14:01:03.11799+00	2026-01-12 08:15:00.269823+00	6
\.


--
-- Data for Name: taaskr_app_taaskrprofile; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: users_app_address; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.users_app_address (id, label, street, city, state, pincode, is_primary, latitude, longitude, user_id) FROM stdin;
1	Home	100, Geeta Bhawan , behind Tealogy	Indore	MP	452010	t	\N	\N	2
2	Home	5, vijay nagar	Indore	MP	452010	t	\N	\N	4
3	Home	104, Geeta Bhawan , behind Tealogy	Indore	MP	452010	t	\N	\N	1
4	work	103 , vijay nagar	Indore	MP	452001	f	\N	\N	1
7	Home	95, vijay nagar	Indore	MP	452010	t	\N	\N	9
\.


--
-- Data for Name: users_app_permission; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: users_app_role; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.users_app_role (id, name, is_admin_role, is_active) FROM stdin;
1	super_admin	t	t
2	admin	t	t
3	taaskr	f	t
4	customer	f	t
\.


--
-- Data for Name: users_app_rolepermission; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: users_app_user; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--



--
-- Data for Name: users_app_user_groups; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.users_app_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_app_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.users_app_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: users_app_userrole; Type: TABLE DATA; Schema: public; Owner: daytaask_user
--

COPY public.users_app_userrole (id, role_id, user_id) FROM stdin;
1	1	1
2	4	2
3	3	3
4	2	1
5	4	4
6	3	5
7	3	6
8	3	7
9	4	8
10	4	9
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 132, true);


--
-- Name: bookings_app_assignmentlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_assignmentlog_id_seq', 27, true);


--
-- Name: bookings_app_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_booking_id_seq', 38, true);


--
-- Name: bookings_app_bookingaddon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_bookingaddon_id_seq', 2, true);


--
-- Name: bookings_app_customservice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_customservice_id_seq', 6, true);


--
-- Name: bookings_app_quoteimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_quoteimage_id_seq', 10, true);


--
-- Name: bookings_app_quoterequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_quoterequest_id_seq', 11, true);


--
-- Name: bookings_app_recording_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_recording_id_seq', 1, false);


--
-- Name: bookings_app_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_review_id_seq', 1, false);


--
-- Name: bookings_app_servicechangerequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_servicechangerequest_id_seq', 1, true);


--
-- Name: bookings_app_warranty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.bookings_app_warranty_id_seq', 1, false);


--
-- Name: consultation_app_consultationproject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.consultation_app_consultationproject_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 60, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 33, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 48, true);


--
-- Name: logs_app_adminactionlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.logs_app_adminactionlog_id_seq', 1, false);


--
-- Name: logs_app_auditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.logs_app_auditlog_id_seq', 1, false);


--
-- Name: notifications_app_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.notifications_app_notification_id_seq', 1, false);


--
-- Name: payments_app_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.payments_app_payment_id_seq', 3, true);


--
-- Name: payments_app_refund_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.payments_app_refund_id_seq', 1, true);


--
-- Name: services_app_addon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.services_app_addon_id_seq', 3, true);


--
-- Name: services_app_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.services_app_category_id_seq', 3, true);


--
-- Name: services_app_service_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.services_app_service_id_seq', 3, true);


--
-- Name: support_app_complaint_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.support_app_complaint_id_seq', 1, false);


--
-- Name: taaskr_app_availability_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.taaskr_app_availability_id_seq', 8, true);


--
-- Name: taaskr_app_taaskrprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.taaskr_app_taaskrprofile_id_seq', 4, true);


--
-- Name: users_app_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.users_app_address_id_seq', 7, true);


--
-- Name: users_app_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.users_app_permission_id_seq', 88, true);


--
-- Name: users_app_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.users_app_role_id_seq', 4, true);


--
-- Name: users_app_rolepermission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.users_app_rolepermission_id_seq', 782, true);


--
-- Name: users_app_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.users_app_user_groups_id_seq', 1, false);


--
-- Name: users_app_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.users_app_user_id_seq', 10, true);


--
-- Name: users_app_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.users_app_user_user_permissions_id_seq', 1, false);


--
-- Name: users_app_userrole_id_seq; Type: SEQUENCE SET; Schema: public; Owner: daytaask_user
--

SELECT pg_catalog.setval('public.users_app_userrole_id_seq', 10, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_assignmentlog bookings_app_assignmentlog_booking_id_taaskr_id_5d77f90c_uniq; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_assignmentlog
    ADD CONSTRAINT bookings_app_assignmentlog_booking_id_taaskr_id_5d77f90c_uniq UNIQUE (booking_id, taaskr_id);


--
-- Name: bookings_app_assignmentlog bookings_app_assignmentlog_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_assignmentlog
    ADD CONSTRAINT bookings_app_assignmentlog_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_booking bookings_app_booking_booking_code_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_booking
    ADD CONSTRAINT bookings_app_booking_booking_code_key UNIQUE (booking_code);


--
-- Name: bookings_app_booking bookings_app_booking_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_booking
    ADD CONSTRAINT bookings_app_booking_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_bookingaddon bookings_app_bookingaddon_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_bookingaddon
    ADD CONSTRAINT bookings_app_bookingaddon_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_customservice bookings_app_customservice_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_customservice
    ADD CONSTRAINT bookings_app_customservice_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_customservice bookings_app_customservice_quote_request_id_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_customservice
    ADD CONSTRAINT bookings_app_customservice_quote_request_id_key UNIQUE (quote_request_id);


--
-- Name: bookings_app_quoteimage bookings_app_quoteimage_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoteimage
    ADD CONSTRAINT bookings_app_quoteimage_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_quoterequest bookings_app_quoterequest_booking_id_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoterequest
    ADD CONSTRAINT bookings_app_quoterequest_booking_id_key UNIQUE (booking_id);


--
-- Name: bookings_app_quoterequest bookings_app_quoterequest_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoterequest
    ADD CONSTRAINT bookings_app_quoterequest_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_quoterequest bookings_app_quoterequest_quote_code_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoterequest
    ADD CONSTRAINT bookings_app_quoterequest_quote_code_key UNIQUE (quote_code);


--
-- Name: bookings_app_recording bookings_app_recording_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_recording
    ADD CONSTRAINT bookings_app_recording_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_review bookings_app_review_booking_id_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_review
    ADD CONSTRAINT bookings_app_review_booking_id_key UNIQUE (booking_id);


--
-- Name: bookings_app_review bookings_app_review_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_review
    ADD CONSTRAINT bookings_app_review_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_servicechangerequest bookings_app_servicechangerequest_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_servicechangerequest
    ADD CONSTRAINT bookings_app_servicechangerequest_pkey PRIMARY KEY (id);


--
-- Name: bookings_app_warranty bookings_app_warranty_booking_id_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_warranty
    ADD CONSTRAINT bookings_app_warranty_booking_id_key UNIQUE (booking_id);


--
-- Name: bookings_app_warranty bookings_app_warranty_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_warranty
    ADD CONSTRAINT bookings_app_warranty_pkey PRIMARY KEY (id);


--
-- Name: consultation_app_consultationproject consultation_app_consultationproject_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.consultation_app_consultationproject
    ADD CONSTRAINT consultation_app_consultationproject_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: logs_app_adminactionlog logs_app_adminactionlog_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.logs_app_adminactionlog
    ADD CONSTRAINT logs_app_adminactionlog_pkey PRIMARY KEY (id);


--
-- Name: logs_app_auditlog logs_app_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.logs_app_auditlog
    ADD CONSTRAINT logs_app_auditlog_pkey PRIMARY KEY (id);


--
-- Name: notifications_app_notification notifications_app_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.notifications_app_notification
    ADD CONSTRAINT notifications_app_notification_pkey PRIMARY KEY (id);


--
-- Name: payments_app_payment payments_app_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.payments_app_payment
    ADD CONSTRAINT payments_app_payment_pkey PRIMARY KEY (id);


--
-- Name: payments_app_refund payments_app_refund_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.payments_app_refund
    ADD CONSTRAINT payments_app_refund_pkey PRIMARY KEY (id);


--
-- Name: services_app_addon services_app_addon_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.services_app_addon
    ADD CONSTRAINT services_app_addon_pkey PRIMARY KEY (id);


--
-- Name: services_app_category services_app_category_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.services_app_category
    ADD CONSTRAINT services_app_category_pkey PRIMARY KEY (id);


--
-- Name: services_app_service services_app_service_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.services_app_service
    ADD CONSTRAINT services_app_service_pkey PRIMARY KEY (id);


--
-- Name: services_app_service services_app_service_slug_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.services_app_service
    ADD CONSTRAINT services_app_service_slug_key UNIQUE (slug);


--
-- Name: support_app_complaint support_app_complaint_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.support_app_complaint
    ADD CONSTRAINT support_app_complaint_pkey PRIMARY KEY (id);


--
-- Name: taaskr_app_availability taaskr_app_availability_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.taaskr_app_availability
    ADD CONSTRAINT taaskr_app_availability_pkey PRIMARY KEY (id);


--
-- Name: taaskr_app_availability taaskr_app_availability_taaskr_id_is_available_b08392f2_uniq; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.taaskr_app_availability
    ADD CONSTRAINT taaskr_app_availability_taaskr_id_is_available_b08392f2_uniq UNIQUE (taaskr_id, is_available);


--
-- Name: taaskr_app_taaskrprofile taaskr_app_taaskrprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.taaskr_app_taaskrprofile
    ADD CONSTRAINT taaskr_app_taaskrprofile_pkey PRIMARY KEY (id);


--
-- Name: taaskr_app_taaskrprofile taaskr_app_taaskrprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.taaskr_app_taaskrprofile
    ADD CONSTRAINT taaskr_app_taaskrprofile_user_id_key UNIQUE (user_id);


--
-- Name: users_app_address users_app_address_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_address
    ADD CONSTRAINT users_app_address_pkey PRIMARY KEY (id);


--
-- Name: users_app_permission users_app_permission_code_name_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_permission
    ADD CONSTRAINT users_app_permission_code_name_key UNIQUE (code_name);


--
-- Name: users_app_permission users_app_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_permission
    ADD CONSTRAINT users_app_permission_pkey PRIMARY KEY (id);


--
-- Name: users_app_role users_app_role_name_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_role
    ADD CONSTRAINT users_app_role_name_key UNIQUE (name);


--
-- Name: users_app_role users_app_role_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_role
    ADD CONSTRAINT users_app_role_pkey PRIMARY KEY (id);


--
-- Name: users_app_rolepermission users_app_rolepermission_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_rolepermission
    ADD CONSTRAINT users_app_rolepermission_pkey PRIMARY KEY (id);


--
-- Name: users_app_user users_app_user_email_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user
    ADD CONSTRAINT users_app_user_email_key UNIQUE (email);


--
-- Name: users_app_user_groups users_app_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user_groups
    ADD CONSTRAINT users_app_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_app_user_groups users_app_user_groups_user_id_group_id_b9b6bdae_uniq; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user_groups
    ADD CONSTRAINT users_app_user_groups_user_id_group_id_b9b6bdae_uniq UNIQUE (user_id, group_id);


--
-- Name: users_app_user users_app_user_phone_key; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user
    ADD CONSTRAINT users_app_user_phone_key UNIQUE (phone);


--
-- Name: users_app_user users_app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user
    ADD CONSTRAINT users_app_user_pkey PRIMARY KEY (id);


--
-- Name: users_app_user_user_permissions users_app_user_user_perm_user_id_permission_id_46656a4a_uniq; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user_user_permissions
    ADD CONSTRAINT users_app_user_user_perm_user_id_permission_id_46656a4a_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_app_user_user_permissions users_app_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user_user_permissions
    ADD CONSTRAINT users_app_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_app_userrole users_app_userrole_pkey; Type: CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_userrole
    ADD CONSTRAINT users_app_userrole_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: bookings_ap_booking_ed41a5_idx; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_ap_booking_ed41a5_idx ON public.bookings_app_assignmentlog USING btree (booking_id, taaskr_id);


--
-- Name: bookings_ap_status_97da3c_idx; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_ap_status_97da3c_idx ON public.bookings_app_assignmentlog USING btree (status);


--
-- Name: bookings_app_assignmentlog_assigned_by_id_f909bf14; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_assignmentlog_assigned_by_id_f909bf14 ON public.bookings_app_assignmentlog USING btree (assigned_by_id);


--
-- Name: bookings_app_assignmentlog_booking_id_e393355e; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_assignmentlog_booking_id_e393355e ON public.bookings_app_assignmentlog USING btree (booking_id);


--
-- Name: bookings_app_assignmentlog_taaskr_id_7121f84e; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_assignmentlog_taaskr_id_7121f84e ON public.bookings_app_assignmentlog USING btree (taaskr_id);


--
-- Name: bookings_app_booking_address_id_69fac014; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_booking_address_id_69fac014 ON public.bookings_app_booking USING btree (address_id);


--
-- Name: bookings_app_booking_booking_code_d303d7f9_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_booking_booking_code_d303d7f9_like ON public.bookings_app_booking USING btree (booking_code varchar_pattern_ops);


--
-- Name: bookings_app_booking_custom_service_id_0de334b4; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_booking_custom_service_id_0de334b4 ON public.bookings_app_booking USING btree (custom_service_id);


--
-- Name: bookings_app_booking_customer_id_54491483; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_booking_customer_id_54491483 ON public.bookings_app_booking USING btree (customer_id);


--
-- Name: bookings_app_booking_service_id_85c1665f; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_booking_service_id_85c1665f ON public.bookings_app_booking USING btree (service_id);


--
-- Name: bookings_app_bookingaddon_addon_id_bc029e9a; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_bookingaddon_addon_id_bc029e9a ON public.bookings_app_bookingaddon USING btree (addon_id);


--
-- Name: bookings_app_bookingaddon_booking_id_8948cbb1; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_bookingaddon_booking_id_8948cbb1 ON public.bookings_app_bookingaddon USING btree (booking_id);


--
-- Name: bookings_app_customservice_base_service_id_8173fc0f; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_customservice_base_service_id_8173fc0f ON public.bookings_app_customservice USING btree (base_service_id);


--
-- Name: bookings_app_customservice_created_by_id_2f836b51; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_customservice_created_by_id_2f836b51 ON public.bookings_app_customservice USING btree (created_by_id);


--
-- Name: bookings_app_quoteimage_quote_request_id_f13efe8a; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_quoteimage_quote_request_id_f13efe8a ON public.bookings_app_quoteimage USING btree (quote_request_id);


--
-- Name: bookings_app_quoterequest_customer_id_aae5270d; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_quoterequest_customer_id_aae5270d ON public.bookings_app_quoterequest USING btree (customer_id);


--
-- Name: bookings_app_quoterequest_quote_code_b3a3ff5b_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_quoterequest_quote_code_b3a3ff5b_like ON public.bookings_app_quoterequest USING btree (quote_code varchar_pattern_ops);


--
-- Name: bookings_app_quoterequest_service_category_id_1b7099e7; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_quoterequest_service_category_id_1b7099e7 ON public.bookings_app_quoterequest USING btree (service_category_id);


--
-- Name: bookings_app_quoterequest_service_id_1a172a43; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_quoterequest_service_id_1a172a43 ON public.bookings_app_quoterequest USING btree (service_id);


--
-- Name: bookings_app_recording_booking_id_9e551bfa; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_recording_booking_id_9e551bfa ON public.bookings_app_recording USING btree (booking_id);


--
-- Name: bookings_app_servicechangerequest_booking_id_3ceaa5e5; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX bookings_app_servicechangerequest_booking_id_3ceaa5e5 ON public.bookings_app_servicechangerequest USING btree (booking_id);


--
-- Name: consultation_app_consultationproject_customer_id_a76b8139; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX consultation_app_consultationproject_customer_id_a76b8139 ON public.consultation_app_consultationproject USING btree (customer_id);


--
-- Name: consultation_app_consultationproject_taaskr_id_6d0d296a; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX consultation_app_consultationproject_taaskr_id_6d0d296a ON public.consultation_app_consultationproject USING btree (taaskr_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: logs_app_adminactionlog_admin_id_a6262170; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX logs_app_adminactionlog_admin_id_a6262170 ON public.logs_app_adminactionlog USING btree (admin_id);


--
-- Name: logs_app_auditlog_user_id_f54d377a; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX logs_app_auditlog_user_id_f54d377a ON public.logs_app_auditlog USING btree (user_id);


--
-- Name: notifications_app_notification_user_id_9d8bad78; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX notifications_app_notification_user_id_9d8bad78 ON public.notifications_app_notification USING btree (user_id);


--
-- Name: payments_app_payment_booking_id_51c2475c; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX payments_app_payment_booking_id_51c2475c ON public.payments_app_payment USING btree (booking_id);


--
-- Name: payments_app_refund_payment_id_34ce738b; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX payments_app_refund_payment_id_34ce738b ON public.payments_app_refund USING btree (payment_id);


--
-- Name: services_app_addon_service_id_ac9ce5c8; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX services_app_addon_service_id_ac9ce5c8 ON public.services_app_addon USING btree (service_id);


--
-- Name: services_app_service_category_id_162e7fd7; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX services_app_service_category_id_162e7fd7 ON public.services_app_service USING btree (category_id);


--
-- Name: services_app_service_slug_18e64cc6_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX services_app_service_slug_18e64cc6_like ON public.services_app_service USING btree (slug varchar_pattern_ops);


--
-- Name: support_app_complaint_booking_id_4bd181c3; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX support_app_complaint_booking_id_4bd181c3 ON public.support_app_complaint USING btree (booking_id);


--
-- Name: support_app_complaint_customer_id_c8e54841; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX support_app_complaint_customer_id_c8e54841 ON public.support_app_complaint USING btree (customer_id);


--
-- Name: taaskr_app_availability_taaskr_id_ca0e22da; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX taaskr_app_availability_taaskr_id_ca0e22da ON public.taaskr_app_availability USING btree (taaskr_id);


--
-- Name: users_app_address_user_id_b0d9378e; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_address_user_id_b0d9378e ON public.users_app_address USING btree (user_id);


--
-- Name: users_app_permission_code_name_2a6c99ca_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_permission_code_name_2a6c99ca_like ON public.users_app_permission USING btree (code_name varchar_pattern_ops);


--
-- Name: users_app_role_name_5c207d38_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_role_name_5c207d38_like ON public.users_app_role USING btree (name varchar_pattern_ops);


--
-- Name: users_app_rolepermission_permission_id_b4af87f5; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_rolepermission_permission_id_b4af87f5 ON public.users_app_rolepermission USING btree (permission_id);


--
-- Name: users_app_rolepermission_role_id_63e0cab8; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_rolepermission_role_id_63e0cab8 ON public.users_app_rolepermission USING btree (role_id);


--
-- Name: users_app_user_email_3518d605_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_user_email_3518d605_like ON public.users_app_user USING btree (email varchar_pattern_ops);


--
-- Name: users_app_user_groups_group_id_a248c506; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_user_groups_group_id_a248c506 ON public.users_app_user_groups USING btree (group_id);


--
-- Name: users_app_user_groups_user_id_0fb09204; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_user_groups_user_id_0fb09204 ON public.users_app_user_groups USING btree (user_id);


--
-- Name: users_app_user_phone_28c06dc1_like; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_user_phone_28c06dc1_like ON public.users_app_user USING btree (phone varchar_pattern_ops);


--
-- Name: users_app_user_user_permissions_permission_id_61fe1390; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_user_user_permissions_permission_id_61fe1390 ON public.users_app_user_user_permissions USING btree (permission_id);


--
-- Name: users_app_user_user_permissions_user_id_ed0fe1b8; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_user_user_permissions_user_id_ed0fe1b8 ON public.users_app_user_user_permissions USING btree (user_id);


--
-- Name: users_app_userrole_role_id_687231ce; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_userrole_role_id_687231ce ON public.users_app_userrole USING btree (role_id);


--
-- Name: users_app_userrole_user_id_95171860; Type: INDEX; Schema: public; Owner: daytaask_user
--

CREATE INDEX users_app_userrole_user_id_95171860 ON public.users_app_userrole USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_assignmentlog bookings_app_assignm_assigned_by_id_f909bf14_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_assignmentlog
    ADD CONSTRAINT bookings_app_assignm_assigned_by_id_f909bf14_fk_users_app FOREIGN KEY (assigned_by_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_assignmentlog bookings_app_assignm_booking_id_e393355e_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_assignmentlog
    ADD CONSTRAINT bookings_app_assignm_booking_id_e393355e_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_assignmentlog bookings_app_assignm_taaskr_id_7121f84e_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_assignmentlog
    ADD CONSTRAINT bookings_app_assignm_taaskr_id_7121f84e_fk_users_app FOREIGN KEY (taaskr_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_bookingaddon bookings_app_booking_addon_id_bc029e9a_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_bookingaddon
    ADD CONSTRAINT bookings_app_booking_addon_id_bc029e9a_fk_services_ FOREIGN KEY (addon_id) REFERENCES public.services_app_addon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_booking bookings_app_booking_address_id_69fac014_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_booking
    ADD CONSTRAINT bookings_app_booking_address_id_69fac014_fk_users_app FOREIGN KEY (address_id) REFERENCES public.users_app_address(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_bookingaddon bookings_app_booking_booking_id_8948cbb1_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_bookingaddon
    ADD CONSTRAINT bookings_app_booking_booking_id_8948cbb1_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_booking bookings_app_booking_custom_service_id_0de334b4_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_booking
    ADD CONSTRAINT bookings_app_booking_custom_service_id_0de334b4_fk_bookings_ FOREIGN KEY (custom_service_id) REFERENCES public.bookings_app_customservice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_booking bookings_app_booking_customer_id_54491483_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_booking
    ADD CONSTRAINT bookings_app_booking_customer_id_54491483_fk_users_app_user_id FOREIGN KEY (customer_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_booking bookings_app_booking_service_id_85c1665f_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_booking
    ADD CONSTRAINT bookings_app_booking_service_id_85c1665f_fk_services_ FOREIGN KEY (service_id) REFERENCES public.services_app_service(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_customservice bookings_app_customs_base_service_id_8173fc0f_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_customservice
    ADD CONSTRAINT bookings_app_customs_base_service_id_8173fc0f_fk_services_ FOREIGN KEY (base_service_id) REFERENCES public.services_app_service(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_customservice bookings_app_customs_created_by_id_2f836b51_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_customservice
    ADD CONSTRAINT bookings_app_customs_created_by_id_2f836b51_fk_users_app FOREIGN KEY (created_by_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_customservice bookings_app_customs_quote_request_id_6eb54375_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_customservice
    ADD CONSTRAINT bookings_app_customs_quote_request_id_6eb54375_fk_bookings_ FOREIGN KEY (quote_request_id) REFERENCES public.bookings_app_quoterequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_quoteimage bookings_app_quoteim_quote_request_id_f13efe8a_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoteimage
    ADD CONSTRAINT bookings_app_quoteim_quote_request_id_f13efe8a_fk_bookings_ FOREIGN KEY (quote_request_id) REFERENCES public.bookings_app_quoterequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_quoterequest bookings_app_quotere_booking_id_02a85cae_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoterequest
    ADD CONSTRAINT bookings_app_quotere_booking_id_02a85cae_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_quoterequest bookings_app_quotere_customer_id_aae5270d_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoterequest
    ADD CONSTRAINT bookings_app_quotere_customer_id_aae5270d_fk_users_app FOREIGN KEY (customer_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_quoterequest bookings_app_quotere_service_category_id_1b7099e7_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoterequest
    ADD CONSTRAINT bookings_app_quotere_service_category_id_1b7099e7_fk_services_ FOREIGN KEY (service_category_id) REFERENCES public.services_app_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_quoterequest bookings_app_quotere_service_id_1a172a43_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_quoterequest
    ADD CONSTRAINT bookings_app_quotere_service_id_1a172a43_fk_services_ FOREIGN KEY (service_id) REFERENCES public.services_app_service(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_recording bookings_app_recordi_booking_id_9e551bfa_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_recording
    ADD CONSTRAINT bookings_app_recordi_booking_id_9e551bfa_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_review bookings_app_review_booking_id_dbeb8689_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_review
    ADD CONSTRAINT bookings_app_review_booking_id_dbeb8689_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_servicechangerequest bookings_app_service_booking_id_3ceaa5e5_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_servicechangerequest
    ADD CONSTRAINT bookings_app_service_booking_id_3ceaa5e5_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_app_warranty bookings_app_warrant_booking_id_cf90c2a2_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.bookings_app_warranty
    ADD CONSTRAINT bookings_app_warrant_booking_id_cf90c2a2_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultation_app_consultationproject consultation_app_con_customer_id_a76b8139_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.consultation_app_consultationproject
    ADD CONSTRAINT consultation_app_con_customer_id_a76b8139_fk_users_app FOREIGN KEY (customer_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultation_app_consultationproject consultation_app_con_taaskr_id_6d0d296a_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.consultation_app_consultationproject
    ADD CONSTRAINT consultation_app_con_taaskr_id_6d0d296a_fk_users_app FOREIGN KEY (taaskr_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_app_user_id FOREIGN KEY (user_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logs_app_adminactionlog logs_app_adminactionlog_admin_id_a6262170_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.logs_app_adminactionlog
    ADD CONSTRAINT logs_app_adminactionlog_admin_id_a6262170_fk_users_app_user_id FOREIGN KEY (admin_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: logs_app_auditlog logs_app_auditlog_user_id_f54d377a_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.logs_app_auditlog
    ADD CONSTRAINT logs_app_auditlog_user_id_f54d377a_fk_users_app_user_id FOREIGN KEY (user_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_app_notification notifications_app_no_user_id_9d8bad78_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.notifications_app_notification
    ADD CONSTRAINT notifications_app_no_user_id_9d8bad78_fk_users_app FOREIGN KEY (user_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: payments_app_payment payments_app_payment_booking_id_51c2475c_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.payments_app_payment
    ADD CONSTRAINT payments_app_payment_booking_id_51c2475c_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: payments_app_refund payments_app_refund_payment_id_34ce738b_fk_payments_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.payments_app_refund
    ADD CONSTRAINT payments_app_refund_payment_id_34ce738b_fk_payments_ FOREIGN KEY (payment_id) REFERENCES public.payments_app_payment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_app_addon services_app_addon_service_id_ac9ce5c8_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.services_app_addon
    ADD CONSTRAINT services_app_addon_service_id_ac9ce5c8_fk_services_ FOREIGN KEY (service_id) REFERENCES public.services_app_service(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_app_service services_app_service_category_id_162e7fd7_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.services_app_service
    ADD CONSTRAINT services_app_service_category_id_162e7fd7_fk_services_ FOREIGN KEY (category_id) REFERENCES public.services_app_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: support_app_complaint support_app_complain_booking_id_4bd181c3_fk_bookings_; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.support_app_complaint
    ADD CONSTRAINT support_app_complain_booking_id_4bd181c3_fk_bookings_ FOREIGN KEY (booking_id) REFERENCES public.bookings_app_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: support_app_complaint support_app_complaint_customer_id_c8e54841_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.support_app_complaint
    ADD CONSTRAINT support_app_complaint_customer_id_c8e54841_fk_users_app_user_id FOREIGN KEY (customer_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taaskr_app_availability taaskr_app_availability_taaskr_id_ca0e22da_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.taaskr_app_availability
    ADD CONSTRAINT taaskr_app_availability_taaskr_id_ca0e22da_fk_users_app_user_id FOREIGN KEY (taaskr_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taaskr_app_taaskrprofile taaskr_app_taaskrprofile_user_id_6c54803d_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.taaskr_app_taaskrprofile
    ADD CONSTRAINT taaskr_app_taaskrprofile_user_id_6c54803d_fk_users_app_user_id FOREIGN KEY (user_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_address users_app_address_user_id_b0d9378e_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_address
    ADD CONSTRAINT users_app_address_user_id_b0d9378e_fk_users_app_user_id FOREIGN KEY (user_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_rolepermission users_app_rolepermis_permission_id_b4af87f5_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_rolepermission
    ADD CONSTRAINT users_app_rolepermis_permission_id_b4af87f5_fk_users_app FOREIGN KEY (permission_id) REFERENCES public.users_app_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_rolepermission users_app_rolepermission_role_id_63e0cab8_fk_users_app_role_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_rolepermission
    ADD CONSTRAINT users_app_rolepermission_role_id_63e0cab8_fk_users_app_role_id FOREIGN KEY (role_id) REFERENCES public.users_app_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_user_groups users_app_user_groups_group_id_a248c506_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user_groups
    ADD CONSTRAINT users_app_user_groups_group_id_a248c506_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_user_groups users_app_user_groups_user_id_0fb09204_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user_groups
    ADD CONSTRAINT users_app_user_groups_user_id_0fb09204_fk_users_app_user_id FOREIGN KEY (user_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_user_user_permissions users_app_user_user__permission_id_61fe1390_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user_user_permissions
    ADD CONSTRAINT users_app_user_user__permission_id_61fe1390_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_user_user_permissions users_app_user_user__user_id_ed0fe1b8_fk_users_app; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_user_user_permissions
    ADD CONSTRAINT users_app_user_user__user_id_ed0fe1b8_fk_users_app FOREIGN KEY (user_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_userrole users_app_userrole_role_id_687231ce_fk_users_app_role_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_userrole
    ADD CONSTRAINT users_app_userrole_role_id_687231ce_fk_users_app_role_id FOREIGN KEY (role_id) REFERENCES public.users_app_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_app_userrole users_app_userrole_user_id_95171860_fk_users_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: daytaask_user
--

ALTER TABLE ONLY public.users_app_userrole
    ADD CONSTRAINT users_app_userrole_user_id_95171860_fk_users_app_user_id FOREIGN KEY (user_id) REFERENCES public.users_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict YgTy2cQH2yss6ew2EKfqf1pX2CT4Zf4zG65RNU1aA9aSnBJkuKydBJZ5s6WLJHl

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict da8J2OcEnDcdxhp82Mdu2gKDSITFGjUrhsiOLuTJrte2EhqLUbgTUMdzfUbxLu5

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict da8J2OcEnDcdxhp82Mdu2gKDSITFGjUrhsiOLuTJrte2EhqLUbgTUMdzfUbxLu5

--
-- PostgreSQL database cluster dump complete
--

